// Set Primary/Secondary Colors
// $dark-green:    #004c36;
// $dark-pink:    #9b0033;
// $primary:       $dark-pink;
// $secondary:     $dark-green;

// Add lighter versions of Primary/Secondary colors to theme

/*
$colors: (
  "dark-green": $dark-green,
  "dark-pink": $dark-pink,
);
*/

$font-family-sans-serif:      "Roboto";
$font-family-monospace:       "Roboto Mono";
